<div>
    <h2 id="page-heading">
        <span>Client Accounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client-account" [routerLink]="['/client-account/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Client Account
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clientAccounts?.length === 0">
        <span>No clientAccounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clientAccounts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span>Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="referal"><span>Referal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="referedBy"><span>Refered By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="miniBio"><span>Mini Bio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="verifiedPhone"><span>Verified Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span>Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="identityIdentity"><span>Identity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clientAccount of clientAccounts ;trackBy: trackId">
                    <td><a [routerLink]="['/client-account', clientAccount.id, 'view']">{{ clientAccount.id }}</a></td>
                    <td>{{ clientAccount.phone }}</td>
                    <td>{{ clientAccount.referal }}</td>
                    <td>{{ clientAccount.referedBy }}</td>
                    <td>{{ clientAccount.miniBio }}</td>
                    <td>{{ clientAccount.verifiedPhone }}</td>
                    <td>
                        <a *ngIf="clientAccount.photo" (click)="openFile(clientAccount.photoContentType, clientAccount.photo)">open</a>
                        <span *ngIf="clientAccount.photo">{{ clientAccount.photoContentType }}, {{ byteSize(clientAccount.photo) }}</span>
                    </td>
                    <td>
                        {{ clientAccount.userLogin }}
                    </td>
                    <td>
                        <div *ngIf="clientAccount.identityId">
                            <a [routerLink]="['/identity', clientAccount.identityId , 'view']" >{{ clientAccount.identityIdentity }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/client-account', clientAccount.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/client-account', clientAccount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(clientAccount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clientAccounts?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
