<div>
    <h2 id="page-heading">
        <span>Trucks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-truck" [routerLink]="['/truck/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Truck
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="trucks?.length === 0">
        <span>No trucks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="trucks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="plateNumber"><span>Plate Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="conteneurPlateNumber"><span>Conteneur Plate Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="width"><span>Width</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="height"><span>Height</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="length"><span>Length</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxWeight"><span>Max Weight</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="driverId"><span>Driver</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transporterAccountId"><span>Transporter Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let truck of trucks ;trackBy: trackId">
                    <td><a [routerLink]="['/truck', truck.id, 'view']">{{ truck.id }}</a></td>
                    <td>{{ truck.plateNumber }}</td>
                    <td>{{ truck.conteneurPlateNumber }}</td>
                    <td>{{ truck.type }}</td>
                    <td>{{ truck.width }}</td>
                    <td>{{ truck.height }}</td>
                    <td>{{ truck.length }}</td>
                    <td>{{ truck.maxWeight }}</td>
                    <td>
                        <div *ngIf="truck.driverId">
                            <a [routerLink]="['/driver', truck.driverId , 'view']" >{{ truck.driverId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="truck.transporterAccountId">
                            <a [routerLink]="['/transporter-account', truck.transporterAccountId , 'view']" >{{ truck.transporterAccountId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/truck', truck.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/truck', truck.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(truck)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="trucks?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
