<div>
    <h2 id="page-heading">
        <span>Matches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-match" [routerLink]="['/match/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Match
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="matches?.length === 0">
        <span>No matches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="matches?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="conversationId"><span>Conversation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="truckId"><span>Truck</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tripId"><span>Trip</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let match of matches ;trackBy: trackId">
                    <td><a [routerLink]="['/match', match.id, 'view']">{{ match.id }}</a></td>
                    <td>{{ match.status }}</td>
                    <td>{{ match.date | date:'medium' }}</td>
                    <td>
                        <div *ngIf="match.conversationId">
                            <a [routerLink]="['/conversation', match.conversationId , 'view']" >{{ match.conversationId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="match.truckId">
                            <a [routerLink]="['/truck', match.truckId , 'view']" >{{ match.truckId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="match.tripId">
                            <a [routerLink]="['/trip', match.tripId , 'view']" >{{ match.tripId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/match', match.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/match', match.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(match)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="matches?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
