<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reputation">
            <h2><span>Reputation</span> {{ reputation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{ reputation.rate }}</span>
                </dd>
                <dt><span>Goods</span></dt>
                <dd>
                    <span>{{ reputation.goods }}</span>
                </dd>
                <dt><span>Punctuality</span></dt>
                <dd>
                    <span>{{ reputation.punctuality }}</span>
                </dd>
                <dt><span>Communication</span></dt>
                <dd>
                    <span>{{ reputation.communication }}</span>
                </dd>
                <dt><span>Comment</span></dt>
                <dd>
                    <span>{{ reputation.comment }}</span>
                </dd>
                <dt><span>Transporter Account</span></dt>
                <dd>
                    <div *ngIf="reputation.transporterAccountId">
                        <a [routerLink]="['/transporter-account', reputation.transporterAccountId, 'view']">{{ reputation.transporterAccountId }}</a>
                    </div>
                </dd>
                <dt><span>Client Account</span></dt>
                <dd>
                    <div *ngIf="reputation.clientAccountId">
                        <a [routerLink]="['/client-account', reputation.clientAccountId, 'view']">{{ reputation.clientAccountId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reputation', reputation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
